body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.todo-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 600px;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.form-group textarea {
  padding: 16px;
  resize: none;
  display: block;
  height: 100px;
}

.form-group > div {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.form-group input,
.form-group select,
.form-group button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.add-btn {
  background-color: #28a745;
  color: white;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #218838;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 16px 32px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #f9f9f9;
  width: 1000px;
}

.todo-item p {
  max-width: 300px;
}

.todo-item textarea {
  flex: 1;
  display: block;
  resize: none;
  padding: 16px;
}

.todo-item.completed p {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn {
  background-color: #ffc107;
  color: white;
  width: 60px;
}

.edit-btn:hover {
  background-color: #e0a800;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
}

.delete-btn:hover {
  background-color: #c82333;
}

.complete-btn {
  background-color: #007bff;
  color: white;
  width: 96px;
}

.complete-btn:hover {
  background-color: #0056b3;
}
